# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
# Example: mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/ems?retryWrites=true&w=majority
MONGO_URI=your_mongodb_atlas_uri_here

# JWT
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# CORS - your frontend URL
CLIENT_URL=http://localhost:3000

# Default Super Admin (created by `npm run seed`)
SEED_SUPER_ADMIN_EMAIL=admin@ems.com
SEED_SUPER_ADMIN_PASSWORD=Admin@12345
